@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6366f1;
  --secondary: #757575;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
  --primary-rgb: rgba(0,125,136,.15);
  --secondary-rgb: 108,117,125;
  --success-rgb: 25,135,84;
  --info-rgb: 13,202,240;
  --warning-rgb: 255,193,7;
  --danger-rgb: 220,53,69;
  --light-rgb: 248,249,250;
  --dark-rgb: 33,37,41;
  --white-rgb: 255,255,255;
  --black-rgb: 0,0,0;
  --body-color-rgb: 33,37,41;
  --body-bg-rgb: 255,255,255;
}